
{% extends 'base.html' %}{%load static%} {%csrf_token%} {% block content %}




   <div class="h-screen grid grid-cols-3">
        <div class="lg:col-span-2 col-span-3 bg-indigo-50 space-y-8 px-12">
            <div class="mt-8 p-4 relative flex flex-col sm:flex-row sm:items-center bg-white shadow rounded-md">
                <div class="flex flex-row items-center border-b sm:border-b-0 w-full sm:w-auto pb-4 sm:pb-0">
                    <div class="text-yellow-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 sm:w-5 h-6 sm:h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>
                    <div class="text-sm font-medium ml-3">Checkout</div>
                </div>
                <div class="text-sm tracking-wide text-gray-500 mt-4 sm:mt-0 sm:ml-4">Complete your shipping and payment details below.</div>
                <div class="absolute sm:relative sm:top-auto sm:right-auto ml-auto right-4 top-4 text-gray-400 hover:text-gray-800 cursor-pointer">
                    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
                </div>
            </div>

            <form method="POST" id="payment-form">
    {% csrf_token %}
            <div class="rounded-md">
                {% comment %} <form id="payment-form" method="POST" action=""> {% endcomment %}
                    {% csrf_token %}
                    
                 <div class="mb-4">
                <h3 class="text-xl font-semibold mb-2">Shipping Address</h3>
                <!-- Existing Addresses (You can load them from your data) -->
                <div class="space-y-4">
                    <!-- Example existing address -->
                    {% for address in addresses %}

                    <div class="flex items-start justify-between">
                        <label class="flex items-center">
                            <input type="radio" name="selectedAddress" value="address1" class="mr-2">
                             {{ address.name}},{{address.phone_number}},{{ address.street_address }}, {{ address.city }}, {{ address.postal_code }},{{ address.state }},{{ address.country }}
                        </label>
                        <a href="{% url 'update_address' address.id %}"><button class="text-blue-500 hover:underline focus:outline-none">Edit</button></a>
                    </div>
                    {% endfor %}
                    <a href="{% url 'add_address' %}"><button id="addAddressButton" class="mt-2 ml-auto bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none">Add New Address</button>
                    <fieldset class='text-lg pt-20'>
                        <h3 class="text-xl font-semibold mb-2">Payment Method</h3>
                        <input type="radio" name="payment_method" value="cash_on_delivery" id="cash_on_delivery" checked>
                        <label for="cash_on_delivery">Cash on Delivery</label>
                        <input type="radio" name="payment_method" value="razorpay" id="razorpay">
                        <label for="razorpay">Razorpay</label>
    
                            
                    </fieldset>
                </div>
                
            <button id="cod-button1" type='submit' class=" submit-button px-4 py-3 rounded-full bg-gray-800 text-white focus:ring focus:outline-none w-full text-xl font-semibold transition-colors">
                Place Order 1
            </button>
            <button id="rzp-button1" type='submit' class="hidden submit-button px-4 py-3 rounded-full bg-gray-800 text-white focus:ring focus:outline-none w-full text-xl font-semibold transition-colors">
                Place Order 2
            </button>
            </div>
            
            </form>
<!-- New Address Input Form (Hidden by Default) -->
            
                {% comment %} </form> {% endcomment %}
            </div>
        

<!-- checkout/checkout.html -->
{% comment %} <form method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Select Address</legend>
        {% for address in addresses %}
            <label>
                <input type="checkbox" name="selected_address" value="{{ address.id }}">
                {{ address.street_address }}, {{ address.city }}, {{ address.state }} {{ address.postal_code }}
            </label><br>
        {% endfor %}
    </fieldset>
    <fieldset>
        <legend>Payment Method</legend>
        {{ order_form.as_p }}
    </fieldset>
    <input type="submit" value="Place Order">
</form> {% endcomment %}

            
            {% comment %} <button >Pay Now</button> {% endcomment %}
        </div>
        
        <div class="col-span-1 bg-white lg:block hidden">
            <h1 class="py-6 border-b-2 text-xl text-gray-600 px-8">Order Summary</h1>
            <ul class="py-6 border-b space-y-6 px-8">
                {% for cart_item in cart_items %}
                <li class="grid grid-cols-6 gap-2 border-b-1">
                    <div class="col-span-1 self-center">
                    {% if cart_item.product_item.image.all %}
                        <img src="{{cart_item.product_item.image.all.0.image.url}}" alt="Product" class="rounded w-full">
                    {% endif %}
                    </div>
                    <div class="flex flex-col col-span-3 pt-2">
                        <span class="text-gray-600 text-md font-semi-bold">{{cart_item.product_item.product_id.name}}</span>
                        <span class="text-gray-400 text-sm inline-block pt-2">Quantity:-{{cart_item.quantity}}</span>
                        <span class="text-gray-400 text-sm inline-block pt-2">Size:-{{cart_item.product_item.size}}</span>
                    </div>
                    <div class="col-span-2 pt-3">
                        <div class="flex items-center space-x-2 text-sm justify-between">
                            <span class="text-gray-400">{{cart_item.quantity}}x {{cart_item.product_item.product_id.price}}</span>
                            <span class="text-pink-400 font-semibold inline-block">{{cart_item.total}}</span>
                        </div>
                    </div>
                </li>
                {% endfor %}
                
            </ul>
            <div class="px-8 border-b">
                <div class="flex justify-between py-4 text-gray-600">
                    <span>Subtotal</span>
                    <span class="font-semibold text-pink-500">{{cart.total}}</span>
                </div>
                <div class="flex justify-between py-4 text-gray-600">
                    <span>Shipping</span>
                    <span class="font-semibold text-pink-500">Free</span>
                </div>
            </div>
            <div class="font-semibold text-xl px-8 flex justify-between py-8 text-gray-600">
                <span>Total</span>
                <span>{{cart.total}}</span>
            </div>
        </div>
    </div>

<script>
    
    const paymentForm = document.getElementById("payment-form");
const paymentMethodRadio = document.getElementsByName("payment_method");
const razorpayButton = document.getElementById("rzp-button1");
const codButton = document.getElementById("cod-button1");
const razor = document.getElementById("razorpay");
const cod = document.getElementById("cash_on_delivery");

cod.addEventListener("change", () => {
    razorpayButton.classList.add("hidden");
    codButton.classList.remove("hidden");
});

razor.addEventListener("change", () => {
    codButton.classList.add("hidden");
    razorpayButton.classList.remove("hidden");
});
</script>






<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_44So9Mr9PHVm6s", // Enter the Key ID generated from the Dashboard
    "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "JerseyBox",
    "description": "purchases",
    "image": "{% static 'logo.png' %}",
    "order_id": "order_IluGWxBm9U8zJ8", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)
    },
    
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>

{% endblock %}