
{% extends 'base.html' %}{%load static%} {%csrf_token%} {% block content %}




   <div class="h-screen grid grid-cols-3">
        <div class="lg:col-span-2 col-span-3 bg-indigo-50 space-y-8 px-12">
            
            <p>login {{current_user.email}}</p>
        
            <div class="rounded-md">
                {% comment %} <form id="payment-form" method="POST" action=""> {% endcomment %}
                    
                    
                 <div class="mb-4">
                <h3 class="text-xl font-semibold mb-2">Shipping Address</h3>
                <!-- Existing Addresses (You can load them from your data) -->
                <form method="post" action="{% url 'checkout' %}" id="payment-form" >
                    {% csrf_token %}
                <div class="space-y-4">
                    <!-- Example existing address -->
                
            
                    {% for address in addresses %}

                    <div class="flex items-start justify-between">
                        <label class="flex items-center">
                            <input type="radio" name="selectedAddress" value="{{address.id}}" class="mr-2">
                             {{ address.name}},{{address.phone_number}},{{ address.street_address }}, {{ address.city }}, {{ address.postal_code }},{{ address.state }},{{ address.country }}
                        </label>
                        <a href="{% url 'update_address' address.id %}">Edit</a>
                    </div>
                    
                    {% endfor %}
                    
                    
                    <fieldset class='text-lg pt-20'>
                        <h3 class="text-xl font-semibold mb-2">Payment Method</h3>
                        <input type="radio" name="payment_method" value="cash_on_delivery" id="cash_on_delivery" checked>
                        <label for="cash_on_delivery">Cash on Delivery</label>
                        <input type="radio" name="payment_method" value="razorpay" id="razorpay">
                        <label for="razorpay">Razorpay</label>
    
                            
                    </fieldset>
                </div>
                
             <input id="cod-button1" type='submit' value="Place Order 1" class=" submit-button px-4 py-3 rounded-full bg-gray-800 text-white focus:ring focus:outline-none w-full text-xl font-semibold transition-colors">
                
            
            <input id="rzp-button1" type='submit' value="Place Order 2" class="hidden submit-button px-4 py-3 rounded-full bg-gray-800 text-white focus:ring focus:outline-none w-full text-xl font-semibold transition-colors">
                


            </div>
            </form>
           
            </div>
            
<!-- New Address Input Form (Hidden by Default) -->
            
                {% comment %} </form> {% endcomment %}
            
        

<!-- checkout/checkout.html -->
{% comment %} <form method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Select Address</legend>
        {% for address in addresses %}
            <label>
                <input type="checkbox" name="selected_address" value="{{ address.id }}">
                {{ address.street_address }}, {{ address.city }}, {{ address.state }} {{ address.postal_code }}
            </label><br>
        {% endfor %}
    </fieldset>
    <fieldset>
        <legend>Payment Method</legend>
        {{ order_form.as_p }}
    </fieldset>
    <input type="submit" value="Place Order">
</form> {% endcomment %}

            
            {% comment %} <button >Pay Now</button> {% endcomment %}
        </div>
        
        <div class="col-span-1 bg-white lg:block hidden">

            
    <form method="POST" action="{% url 'apply_coupon' %}">
    {% csrf_token %}
    <div class="flex items-center w-full h-13 pl-3 bg-white border rounded-full">
        <input
            type="text"
            name="coupon_code"
            id="couponCode"
            placeholder="Apply coupon"
            class="w-full bg-gray-100 outline-none appearance-none focus:outline-none active:outline-none"
        />
        <button
            type="submit"
            class="text-sm flex items-center px-3 py-1 text-white bg-gray-800 rounded-full outline-none md:px-4 hover:bg-gray-700 focus:outline-none active:outline-none"
        >
            <svg
                aria-hidden="true"
                data-prefix="fas"
                data-icon="gift"
                class="w-8"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
            >
                <path
                    fill="currentColor"
                    d="M32 448c0 17.7 14.3 32 32 32h160V320H32v128zm256 32h160c17.7 0 32-14.3 32-32V320H288v160zm192-320h-42.1c6.2-12.1 10.1-25.5 10.1-40 0-48.5-39.5-88-88-88-41.6 0-68.5 21.3-103 68.3-34.5-47-61.4-68.3-103-68.3-48.5 0-88 39.5-88 88 0 14.5 3.8 27.9 10.1 40H32c-17.7 0-32 14.3-32 32v80c0 8.8 7.2 16 16 16h480c8.8 0 16-7.2 16-16v-80c0-17.7-14.3-32-32-32zm-326.1 0c-22.1 0-40-17.9-40-40s17.9-40 40-40c19.9 0 34.6 3.3 86.1 80h-86.1zm206.1 0h-86.1c51.4-76.5 65.7-80 86.1-80 22.1 0 40 17.9 40 40s-17.9 40-40 40z"
                />
            </svg>
            <span class="font-medium">Apply coupon</span>
        </button>
    </div>
</form>


            <h1 class="py-6 border-b-2 text-xl text-gray-600 px-8">Order Summary</h1>
            
            <ul class="py-6 border-b space-y-6 px-8">
                {% for cart_item in cart_items %}
                <li class="grid grid-cols-6 gap-2 border-b-1">
                    <div class="col-span-1 self-center">
                    {% if cart_item.product_item.image.all %}
                        <img src="{{cart_item.product_item.image.all.0.image.url}}" alt="Product" class="rounded w-full">
                    {% endif %}
                    </div>
                    <div class="flex flex-col col-span-3 pt-2">
                        <span class="text-gray-600 text-md font-semi-bold">{{cart_item.product_item.product_id.name}}</span>
                        <span class="text-gray-400 text-sm inline-block pt-2">Quantity:-{{cart_item.quantity}}</span>
                        <span class="text-gray-400 text-sm inline-block pt-2">Size:-{{cart_item.product_item.size}}</span>
                    </div>
                    <div class="col-span-2 pt-3">
                        <div class="flex items-center space-x-2 text-sm justify-between">
                            <span class="text-gray-400">{{cart_item.quantity}}x {{cart_item.product_item.product_id.price}}</span>
                            <span class="text-pink-400 font-semibold inline-block">{{cart_item.total}}</span>
                        </div>
                    </div>
                </li>
                {% endfor %}
                
            </ul>
            <div class="px-8 border-b">

                <div class="flex justify-between py-4 text-gray-600">
                
                    <span>Subtotal</span>
                    <span class="font-semibold text-pink-500">{{cart.total}}</span>
                </div>
                <div class="flex justify-between py-4 text-gray-600">
                    <span>Shipping</span>
                    <span class="font-semibold text-pink-500">Free</span>
                </div>
                <div class="flex justify-between py-4 text-gray-600">
                
                    <span>Coupon Discount</span>
                    <span class="font-semibold text-pink-500">{{cart.coupon_discount}}</span>
                </div>
            </div>
            <div class="font-semibold text-xl px-8 flex justify-between py-8 text-gray-600">
                <span>Total</span>
                <span>{{ cart.final_price }}</span>
            </div>
            
        </div>
    </div>



<script src="https://checkout.razorpay.com/v1/checkout.js"></script> 


<script>
    
    
const paymentMethodRadio = document.getElementsByName("payment_method");
const razorpayButton = document.getElementById("rzp-button1");
const codButton = document.getElementById("cod-button1");
const razor = document.getElementById("razorpay");
const cod = document.getElementById("cash_on_delivery");

cod.addEventListener("change", () => {
    razorpayButton.classList.add("hidden");
    codButton.classList.remove("hidden");
});

razor.addEventListener("change", () => {
    codButton.classList.add("hidden");
    razorpayButton.classList.remove("hidden");
});
</script>


<!-- <script>
    var options = {
        "key": 'rzp_test_DVyPyTYnbu9GxV', 
        "amount": "{{ cart.final_price }}00",
        "currency": 'INR', 
        "name": "Jersey Box", 
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": "{{ order_id }}", 
        "handler": function (response){
          alert(response.razorpay_payment_id);
          alert(response.razorpay_order_id);
          alert(response.razorpay_signature);
        },
        // "prefill": {
        //     "name": "{{ cuurent_user.username }}",
        //     "email": "{{ current_user.email}}",
        //     "contact": "9000090000"
        // },
        // "notes": {
        //     "address": "Razorpay Corporate Office"
        // },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
      rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
      });
      document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open();
        e.preventDefault();
      }
    </script> -->

    <script>
        var options = {
          "key": "{{ payment_api_key }}",
      //    "amount": "{{ cart.final_price }}00",
      //    "currency": "INR",
          "name": "Jersey Box",
          "description": "Test Transaction",
          "image": "https://example.com/your_logo",
          "order_id": "{{ order_id }}", 
          "handler": function (response){
            alert(response.razorpay_payment_id);
            alert(response.razorpay_order_id);
            alert(response.razorpay_signature);
            document.getElementById('payment-form').submit();
          },
          "theme": {
            "color": "#3399cc"
          }
        };
        var rzp1 = new Razorpay(options);
        rzp1.on('payment.failed', function (response){
          alert(response.error.code);
          alert(response.error.description);
          alert(response.error.source);
          alert(response.error.step);
          alert(response.error.reason);
          alert(response.error.metadata.order_id);
          alert(response.error.metadata.payment_id);
        });
        document.getElementById('rzp-button1').onclick = function(e){
          rzp1.open();
          e.preventDefault();
        }
      </script> 

{% endblock %}