{%extends 'base.html'%} {% block content %} {%load static%} {%csrf_token%}


<div class="bg-white">
  <div>
    <!--
      Mobile filter dialog

      Off-canvas filters for mobile, show/hide based on off-canvas filters state.
    -->
    <div class="relative z-40 lg:hidden" role="dialog" aria-modal="true">
      <!--
        Off-canvas menu backdrop, show/hide based on off-canvas menu state.

        Entering: "transition-opacity ease-linear duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "transition-opacity ease-linear duration-300"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div class="fixed inset-0 bg-black bg-opacity-25"></div>

      <div class="fixed inset-0 z-40 flex">
        <!--
          Off-canvas menu, show/hide based on off-canvas menu state.

          Entering: "transition ease-in-out duration-300 transform"
            From: "translate-x-full"
            To: "translate-x-0"
          Leaving: "transition ease-in-out duration-300 transform"
            From: "translate-x-0"
            To: "translate-x-full"
        -->
        <div class="relative ml-auto flex h-full w-full max-w-xs flex-col overflow-y-auto bg-white py-4 pb-12 shadow-xl">
          <div class="flex items-center justify-between px-4">
            <h2 class="text-lg font-medium text-gray-900">Filters</h2>
            <button type="button" class="-mr-2 flex h-10 w-10 items-center justify-center rounded-md bg-white p-2 text-gray-400">
              <span class="sr-only">Close menu</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>

          <!-- Filters -->
          <form class="mt-4 border-t border-gray-200">
            <h3 class="sr-only">Categories</h3>
            <ul role="list" class="px-2 py-3 font-medium text-gray-900">
              <li>
                <a href="#" class="block px-2 py-3">Totes</a>
              </li>
              <li>
                <a href="#" class="block px-2 py-3">Backpacks</a>
              </li>
              
            </ul>

            
            <div class="border-t border-gray-200 px-4 py-6">
              <h3 class="-mx-2 -my-3 flow-root">
                <!-- Expand/collapse section button -->
                <button type="button" class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500" aria-controls="filter-section-mobile-1" aria-expanded="false">
                  <span class="font-medium text-gray-900">Category</span>
                  <span class="ml-6 flex items-center">
                    <!-- Expand icon, show/hide based on section open state. -->
                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                    </svg>
                    <!-- Collapse icon, show/hide based on section open state. -->
                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                  </span>
                </button>
              </h3>
              <!-- Filter section, show/hide based on section state. -->
              <div class="pt-6" id="filter-section-mobile-1">
                <div class="space-y-6">
                  <div class="flex items-center">
                    <input id="filter-mobile-category-0" name="category[]" value="new-arrivals" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                    <label for="filter-mobile-category-0" class="ml-3 min-w-0 flex-1 text-gray-500">Nations</label>
                  </div>
                  <div class="flex items-center">
                    <input id="filter-mobile-category-1" name="category[]" value="sale" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                    <label for="filter-mobile-category-1" class="ml-3 min-w-0 flex-1 text-gray-500">Clubs</label>
                  </div>
                 
                </div>
              </div>
            </div>
            <div class="border-t border-gray-200 px-4 py-6">
              <h3 class="-mx-2 -my-3 flow-root">
                <!-- Expand/collapse section button -->
                <button type="button" class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500" aria-controls="filter-section-mobile-2" aria-expanded="false">
                  <span class="font-medium text-gray-900">Size</span>
                  <span class="ml-6 flex items-center">
                    <!-- Expand icon, show/hide based on section open state. -->
                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                    </svg>
                    <!-- Collapse icon, show/hide based on section open state. -->
                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                  </span>
                </button>
              </h3>
              <!-- Filter section, show/hide based on section state. -->
              <div class="pt-6" id="filter-section-mobile-2">
                <div class="space-y-6">
                  <div class="flex items-center">
                    <input id="filter-mobile-size-0" name="size[]" value="2l" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                    <label for="filter-mobile-size-0" class="ml-3 min-w-0 flex-1 text-gray-500">S</label>
                  </div>
                  <div class="flex items-center">
                    <input id="filter-mobile-size-1" name="size[]" value="6l" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                    <label for="filter-mobile-size-1" class="ml-3 min-w-0 flex-1 text-gray-500">M</label>
                  </div>
                  <div class="flex items-center">
                    <input id="filter-mobile-size-2" name="size[]" value="12l" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                    <label for="filter-mobile-size-2" class="ml-3 min-w-0 flex-1 text-gray-500">L</label>
                  </div>
                  
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <main class=" px-8 sm:px-6">
      <div class="flex items-baseline justify-between border-b border-gray-200 pb-6 pt-12">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900">New Arrivals</h1>

        <div class="flex items-center">
          <div class="relative inline-block text-left">
            <div>
              
            </div>

            <!--
              Dropdown menu, show/hide based on menu state.

              Entering: "transition ease-out duration-100"
                From: "transform opacity-0 scale-95"
                To: "transform opacity-100 scale-100"
              Leaving: "transition ease-in duration-75"
                From: "transform opacity-100 scale-100"
                To: "transform opacity-0 scale-95"
            -->
            
          </div>

          
          
        </div>
      </div>

      <section aria-labelledby="products-heading" class="pb-24 pt-6">
        <h2 id="products-heading" class="sr-only">Products</h2>



        <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
          <!-- Filters -->
          <form method="get" class="hidden lg:block">
  
  
  
  
  <div class="border-b border-gray-200 py-6">
  <h3 class="-my-3 flow-root">
    <!-- Expand/collapse section button -->
    <button type="button" id="show-category-button" class="section-button flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500" aria-controls="filter-section-1" aria-expanded="false">
      <span class="font-medium text-gray-900">Category</span>
      <span class="ml-6 flex items-center">
        <!-- Expand icon, show/hide based on section open state. -->
        <svg class="expand-icon h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
        </svg>
        <!-- Collapse icon, show/hide based on section open state. -->
        <svg class="collapse-icon h-5 w-5 hidden" id="category-collapse-icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
        </svg>
      </span>
    </button>
  </h3>
  <!-- Filter section, show/hide based on section state. -->
  <div class="pt-6" id="filter-section-1">
    <div class="space-y-4">
      <div class="flex items-center">
        <input id="filter-category-0" name="category" value="country" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
        <label for="filter-category-0" class="ml-3 text-sm text-gray-600">Nations</label>
      </div>
      <div class="flex items-center">
        <input id="filter-category-1" name="category" value="club" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
        <label for="filter-category-1" class="ml-3 text-sm text-gray-600">Clubs</label>
      </div>
    </div>
  </div>
</div>



{% comment %} type based {% endcomment %}

<div class="border-b border-gray-200 py-6">
  <h3 class="-my-3 flow-root">
    <!-- Expand/collapse section button -->
    <button type="button" id="show-type-button" class="section-button flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500" aria-controls="filter-section-type" aria-expanded="false">
      <span class="font-medium text-gray-900">Type</span>
      <span class="ml-6 flex items-center">
        <!-- Expand icon, show/hide based on section open state. -->
        <svg class="expand-icon h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
        </svg>
        <!-- Collapse icon, show/hide based on section open state. -->
        <svg class="collapse-icon h-5 w-5 hidden" id="type-collapse-icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
        </svg>
      </span>
    </button>
  </h3>
  <!-- Filter section, show/hide based on section state. -->
  <div class="pt-6" id="filter-section-type">
    <div class="space-y-4">
      <div class="flex items-center">
        <input name="product_type" value="away" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
        <label class="ml-3 text-sm text-gray-600">Away</label>
      </div>
      <div class="flex items-center">
        <input name="product_type" value="home" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
        <label class="ml-3 text-sm text-gray-600">Home</label>
      </div>
    </div>
  </div>
</div>

{% comment %} year based {% endcomment %}


<div class="border-b border-gray-200 py-6">
  <h3 class="-my-3 flow-root">
    <!-- Expand/collapse section button -->
    <button type="button" id="show-year-button" class="section-button flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500" aria-controls="filter-section-year" aria-expanded="false">
      <span class="font-medium text-gray-900">Year</span>
      <span class="ml-6 flex items-center">
        <!-- Expand icon, show/hide based on section open state. -->
        <svg class="expand-icon h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
        </svg>
        <!-- Collapse icon, show/hide based on section open state. -->
        <svg class="collapse-icon h-5 w-5 hidden" id="year-collapse-icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
        </svg>
      </span>
    </button>
  </h3>
  <!-- Filter section, show/hide based on section state. -->
  <div class="pt-6" id="filter-section-year">
    <div class="space-y-4">
      {% for year in years %}
      <div class="flex items-center">
        <input id="filter-year-{{ forloop.counter }}" name="years" value="{{ year }}" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
        <label for="filter-year-{{ forloop.counter }}" class="ml-3 text-sm text-gray-600">{{ year }}</label>
      </div>
      {% endfor %}
    </div>
  </div>
</div>



{% comment %} sort {% endcomment %}


<div class="border-b border-gray-200 py-6">
  <h3 class="-my-3 flow-root">
    <!-- Expand/collapse section button -->
    <button type="button" id="show-sort-button" class="section-button flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500" aria-controls="filter-section-sort" aria-expanded="false">
      <span class="font-medium text-gray-900">Sort</span>
      <span class="ml-6 flex items-center">
        <!-- Expand icon, show/hide based on section open state. -->
        <svg class="expand-icon h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
        </svg>
        <!-- Collapse icon, show/hide based on section open state. -->
        <svg class="collapse-icon h-5 w-5 hidden" id="sort-collapse-icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
        </svg>
      </span>
    </button>
  </h3>
  <!-- Filter section, show/hide based on section state. -->
  <div class="pt-6" id="filter-section-sort">
    <div class="space-y-4">
      <select name="sort" class="block appearance-none w-full bg-white border border-gray-300 hover:border-gray-400 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline focus:border-blue-500">
        <option value="price_low" {% if sort_param == 'price_low' %}selected{% endif %}>Low to High</option>
        <option value="price_high" {% if sort_param == 'price_high' %}selected{% endif %}>High to Low</option>
        <option value="name" {% if sort_param == 'name' %}selected{% endif %}>Name (A-Z)</option>
        <option value="name_desc" {% if sort_param == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
      </select>
    </div>
  </div>
</div>






  <!-- Apply Filter Button (Tablet or lower Screen) -->
  <div class="block w-full mt-10">
    <button type="submit" class="w-full hover:bg-gray-700 dark:bg-white dark:text-gray-800 dark:hover:bg-gray-100 focus:ring focus:ring-offset-2 focus:ring-gray-800 text-base leading-4 font-medium py-4 px-10 text-white bg-gray-800">
      Apply Filter
    </button>
  </div>
</form>

          <!-- Product grid -->
          <div class="lg:col-span-3">
            <div class="grid 2xl:grid-cols-5 xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-x-6 gap-y-12 w-full mt-6">

        <!-- Product Tile Start -->
        {% for product in page %}
    <div>
        <a href="{% url 'product_detail' product.id %}" class="block rounded-lg shadow-lg bg-white">
            {% with product.productitem.first as product_item %}
            {% with product_item.image.first as product_image %}
            <img src="{{ product_image.image.url }}" alt="{{ product.name }}" />
            {% endwith %}
            {% endwith %}
        </a>

        <div class="flex flex-col mt-3">
            <div class="mb-2">
                <a href="#" class="font-medium">{{ product.name }}</a>
                <span class="flex items-center h-8 bg-gray-200 text-gray-600 text-sm px-2 rounded">
                    {{ product.club_id.name }}{{ product.country_id.country.name }}
                </span>
            </div>
            <div class="flex flex-1 items-center">
                <span class="flex items-center h-8 bg-indigo-200 text-indigo-600 text-sm px-2 rounded">
                    {{ product.price }}₹
                </span>
                <form method="post" action="{% url 'add_to_wishlist' product.id %}">
                    {% csrf_token %}
                    <button class="flex md:ml-28 items-center justify-center rounded-md border border-transparent bg-black px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No products available for this selection.</p>
    {% endfor %}
        <!-- Product Tile End -->

    </div>

    <!-- Pagination Buttons -->
   <div class="flex justify-center mt-10 space-x-1">
    <button class="flex items-center justify-center h-8 w-8 rounded text-gray-400">
        <!-- Previous button -->
    </button>
    <!-- Previous page button (with URL) -->
    <button class="flex items-center justify-center h-8 px-2 rounded text-sm font-medium text-gray-400"
            {% if not page.has_previous %}disabled{% endif %}>
        Prev
    </button>
    {% for page_num in page.paginator.page_range %}
        <a href="?page={{ page_num }}" class="flex items-center justify-center h-8 w-8 rounded
           {% if page_num == page.number %}bg-indigo-200 text-indigo-600{% else %}hover:bg-indigo-200 text-sm font-medium text-gray-600 hover:text-indigo-600{% endif %}">
            {{ page_num }}
        </a>
    {% endfor %}
    <!-- Next page button (with URL) -->
    <button class="flex items-center justify-center h-8 px-2 rounded {% if not page.has_next %}disabled{% endif %}">
        Next
    </button>
    <button class="flex items-center justify-center h-8 w-8 rounded text-gray-600 hover:text-indigo-600">
        <!-- Next button -->
    </button>
</div>
    <!-- Component End -->
          </div>
        </div>
      </section>
    </main>
  </div>
</div>

{% comment %} <script>
function showFilters() {
    var fSection = document.getElementById("filterSection");
    if (fSection.classList.contains("hidden")) {
        fSection.classList.remove("hidden");
        fSection.classList.add("block");
    } else {
        fSection.classList.add("hidden");
    }
}

function applyFilters() {
    document.querySelectorAll("input[type=checkbox]").forEach((el) => (el.checked = false));
}

function closeFilterSection() {
    var fSection = document.getElementById("filterSection");
    fSection.classList.add("hidden");
}
</script> {% endcomment %}



<!-- JavaScript for Category section -->
<script>
  function toggleSection(sectionId, expandIconId, collapseIconId, buttonId) {
    const section = document.getElementById(sectionId);
    const expandIcon = document.getElementById(expandIconId);
    const collapseIcon = document.getElementById(collapseIconId);
    const button = document.getElementById(buttonId);

    if (section.style.display === "none" || section.style.display === "") {
      section.style.display = "block";
      expandIcon.style.display = "none";
      collapseIcon.style.display = "block";
      button.setAttribute("aria-expanded", "true");
    } else {
      section.style.display = "none";
      expandIcon.style.display = "block";
      collapseIcon.style.display = "none";
      button.setAttribute("aria-expanded", "false");
    }
  }

  // Add click event listeners for each section
  const categoryButton = document.getElementById("show-category-button");
  categoryButton.addEventListener("click", function () {
    toggleSection("filter-section-1", "category-expand-icon", "category-collapse-icon", "show-category-button");
  });

  const typeButton = document.getElementById("show-type-button");
  typeButton.addEventListener("click", function () {
    toggleSection("filter-section-type", "type-expand-icon", "type-collapse-icon", "show-type-button");
  });

  const yearButton = document.getElementById("show-year-button");
  yearButton.addEventListener("click", function () {
    toggleSection("filter-section-year", "year-expand-icon", "year-collapse-icon", "show-year-button");

    // Hide the other sections and their buttons when showing the Year section
    toggleSection("filter-section-category", "category-expand-icon", "category-collapse-icon", "show-category-button");
    toggleSection("filter-section-type", "type-expand-icon", "type-collapse-icon", "show-type-button");
  });

  // Add click event listener for the Sort section
  const sortButton = document.getElementById("show-sort-button");
  sortButton.addEventListener("click", function () {
    toggleSection("filter-section-sort", "sort-expand-icon", "sort-collapse-icon", "show-sort-button");
  });
</script>








{% endblock %}