<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div style="font-size: xx-large;text-align: center;font-weight: bold;margin-bottom: 2rem;">INVOICE</div>
<table style="width: 100%;margin-bottom: 2rem;">
  <tr>
    <td style="width: 30%;font-size: x-large;font-weight: 500;">From Address</td>
    <td style="width: 30%;font-size: x-large;font-weight: 500;">Deliver Address</td>
    <td style="width: 40%;font-size: x-large;font-weight: 500;">Order Details</td>
  </tr>
  <tr>
    <td style="font-size: large;">Jersey Box<br>jerseybox2@gmail.com <br> Kozhikode, Kerala</td>
    <td style="font-size: large;">{{order.shipping_address.street_address}}<br>{{order.shipping_address.city}}<br>{{order.shipping_address.postal_code}}</td>
    <td style="font-size: large;">order id : {{ order.id }} <br> date : {{ order.created_at }} <br> payment mode : {{ order.payment_mode }}</td>
  </tr>
</table>
<div style="font-size: x-large; font-weight: bold;">Order Details</div>
  <table style="border: 1px solid gray;padding: 4px;font-size: larger;margin-bottom: 1rem;">
    <tr style="background-color: lightgray;">
      <th>Product</th>
      <th>Count</th>
      <th>Unit Price</th>
      
    </tr>
    {% for item in order.order_items.all %}
    <tr>
      <td>{{item.product.product_id.name}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.product.product_id.price}}</td>
      
    </tr>
    {% endfor %}
  </table>
  <table style="font-size: x-large;">
    <tr>
      <td></td>
      <td></td>
      <td>Total Amount</td>
      <td>Rs. {{order.sub_total}}/-</td>
    </tr>
      <tr>
      <td></td>
      <td></td>
      <td>Coupon Discount</td>
      <td>Rs. {{order.coupon_discount}}/-</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td style="font-weight: 500;">Final Amount</td>
      <td style="font-weight: 500;">Rs. {{order.total_price}}/-</td>
    </tr>
  </table>
</div>
</body>
</html>