
{% extends 'base.html' %}{%load static%} {%csrf_token%} {% block content %}


<div class="flex flex-col justify-start items-start  bg-gray-50 px-4 py-4 md:py-6 md:p-6 xl:p-8 w-full">
    <p class="text-lg md:text-xl  font-semibold leading-6 xl:leading-5 text-gray-800">Order Details</p>

    {% for order in orders %}
    <div class="mt-4 md:mt-6 flex flex-col md:flex-row justify-start items-start md:items-center md:space-x-6 xl:space-x-8 w-full">
        <div class="pb-4 md:pb-8 w-full md:w-40">
        </div>
        <div class="border-b border-gray-200 md:flex-row flex-col flex justify-between items-start w-full pb-8 space-y-4 md:space-y-0">
            <div class="w-full flex flex-col justify-start items-start space-y-8">
                <p class=" text-xs leading-6 text-gray-800"><span class='font-bold underline'>Order_id</span></p>
                <h3 class="text-md  font-semibold text-gray-800">{{order.id}}</h3>
                
                <div class="flex justify-start items-start flex-col">

                    <p class="text-sm leading-none text-gray-800"><span class="dark:text-gray-400 text-gray-300">Date: </span> {{order.created_at}}</p>

                </div>
            </div>
            <div class="flex justify-between space-x-8 items-start w-full">
                <a href="{% url 'track' order.id %}" class="text-xs  font-semibold leading-6 text-blue-500"><span class='font-bold underline'>Details</span></br></a>
                <p class=" text-xs leading-6 text-gray-800"><span class='font-bold underline'>shipping_Address</span></br>{{order.shipping_address.name}},{{order.shipping_address.phone_number}},</br>{{order.shipping_address.street_address}},{{order.shipping_address.city}},{{order.shipping_address.postal_code}},{{order.shipping_address.state}}</p>
                <p class="text-xs  font-semibold leading-6 text-gray-800"><span class='font-bold underline'>Total_price</span></br>{{order.total_price}}</p>
                <p class=" text-xs font-semibold leading-6 text-gray-800"><span class='font-bold underline'>Payment_method</span></br>{{order.payment_mode}}</p>
                <p class=" text-xs font-semibold leading-6 text-gray-800"><span class='font-bold underline'>Status</span></br>{{order.status}}</p>
                <a href="{% url 'invoice' order.id %}" > <button class="py-2.5 px-6 rounded-lg text-sm font-medium bg-blue-600 text-white">invoice</button></a>
                <a href="{% url 'order_cancel' order.id %}" ><button class="py-2.5 px-6 rounded-lg text-sm font-medium bg-red-600 text-white">Cancel</button></a>


            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}