{%extends "base.html"%} {%block content%}

<div class="flex items-center min-h-screen p-4 bg-gray-100 lg:justify-center">
  <div
    class="flex flex-col overflow-hidden bg-white rounded-md shadow-lg max md:flex-row md:flex-1 lg:max-w-screen-md"
  >
    <div class="p-5 bg-white md:flex-1">
      {% load static %}
      <div>
        <img
          class="w-28 item-center h-10 mt-4"
          src="{% static 'logo.png' %}"
          alt=""
        />
      </div>
      <h3 class="my-4 text-center text-xl font-semibold text-gray-700">
        Reset password
      </h3>

      
      <form action="#" class="flex flex-col space-y-5" method="POST">
        {% csrf_token %}
        <div class="flex flex-col space-y-1">
              <div class="flex items-center justify-between">
                <label
                  for="password"
                  class="text-sm font-semibold text-gray-500"
                  >New Password</label
                >
              </div>
              <input
                type="password"
                name="pass1"
                id="password1"
                class="required px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-gray-200"
              />
            </div>
            <div class="flex flex-col space-y-1">
              <div class="flex items-center justify-between">
                <label
                  for="password"
                  class="text-sm font-semibold text-gray-500"
                  >Confirm Password</label
                >
              </div>
              <input
                type="password"
                name="pass2"
                id="password2"
                class="required px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-gray-200"
              />
            </div>
        <div>
          <button
            type="submit"
            class="w-full px-4 py-2 text-lg font-semibold text-white transition-colors duration-300 bg-black rounded-md shadow hover:bg-gray-600 focus:outline-none focus:ring-gray-200 focus:ring-4"
            onclick="matchpassword()"
          >
            submit
          </button>
        </div>
        
      </form>
    </div>
  </div>
</div>
<script>
    function matchpassword() {  
        var pass = document.getElementById("password1");  
        var cpass = document.getElementById("password2");  
        if (pass.value !== cpass.value) {
            cpass.setCustomValidity("Passwords Don't Match");
        } else {
            cpass.setCustomValidity('');
        }
    }
</script>

{% endblock %}
