{%extends 'base.html'%} {%block content%} {%load static%} {%csrf_token%}
<!-- Main navigation container -->


  <!-- navbar -->



<!-- Carousel Container -->
<!-- component -->
<script defer src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"></script>

<article x-data="slider" class="relative w-full flex flex-shrink-0 overflow-hidden shadow-2xl">
    <div class="rounded-full bg-gray-600 text-white absolute top-5 right-5 text-sm px-2 text-center z-10">
        <span x-text="currentIndex"></span>/
        <span x-text="images.length"></span>
    </div>

    <template x-for="(image, index) in images">
        <figure class="h-96" x-show="currentIndex == index + 1" x-transition:enter="transition transform duration-300"
        x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
        x-transition:leave="transition transform duration-300" x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0">
        <img :src="image" alt="Image" class="absolute inset-0 z-10 h-full w-full object-cover opacity-70" />
        
        </figure>
    </template>

    <button @click="back()"
        class="absolute left-14 top-1/2 -translate-y-1/2 w-11 h-11 flex justify-center items-center rounded-full shadow-md z-10 bg-gray-100 hover:bg-gray-200">
        <svg class=" w-8 h-8 font-bold transition duration-500 ease-in-out transform motion-reduce:transform-none text-gray-500 hover:text-gray-600 hover:-translate-x-0.5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M15 19l-7-7 7-7">
            </path>
        </svg>
    </button>

    <button @click="next()"
    class="absolute right-14 top-1/2 translate-y-1/2 w-11 h-11 flex justify-center items-center rounded-full shadow-md z-10 bg-gray-100 hover:bg-gray-200">
        <svg class=" w-8 h-8 font-bold transition duration-500 ease-in-out transform motion-reduce:transform-none text-gray-500 hover:text-gray-600 hover:translate-x-0.5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M9 5l7 7-7 7"></path>
        </svg>
    </button>
</article>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('slider', () => ({
            currentIndex: 1,
            images: [
                "{% static 'slides/Manchester-United-landingPage.jpg'%}",
                "{% static 'slides/ManchesterCitylanding_page.jpg'%}",
                "{% static 'slides/barcelona-landingPage.jpg'%}",
                
                
            ],
            back() {
                if (this.currentIndex > 1) {
                    this.currentIndex = this.currentIndex - 1;
                }
            },
            next() {
                if (this.currentIndex < this.images.length) {
                    this.currentIndex = this.currentIndex + 1;
                } else if (this.currentIndex <= this.images.length){
                    this.currentIndex = this.images.length - this.currentIndex + 1
                }
            },
        }))
    })
</script>


  <!--   ✅ Product card 1 - Starts Here 👇 -->

<div class="bg-white">

  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class=" text-2xl font-bold tracking-tight text-gray-900">New Arrival</h2>

    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
    
     {% for item in featured_items_with_images %}
      <a href="{% url 'product_detail' item.product_item.product_id.id %}" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
         
                <img src="{{item.image_url}}" alt="{{ item.product_item.product_id.name }} Image">
                <p>{{ item.product_item.product_id.name }}</p>
        </div>
        <h3 class="mt-4 text-sm text-gray-700 ">{{ club.name }}</h3>
        
      </a>
    {% endfor %}
      <!-- More products... -->
    </div>
  </div>
</div>

  
<div class="bg-white">

  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class=" text-2xl font-bold tracking-tight text-gray-900">Leagues</h2>

    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
    
    {% for league in leagues %}
      <a href="{% url 'league_products' league.id %}" class="group ml-8">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="{{ league.thumbnail.url }}" alt="{{ league.name }}" class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700 ">{{ league.name }}</h3>
        
      </a>
    {% endfor %}
      <!-- More products... -->
    </div>
  </div>
</div>



<div class="bg-white">

  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class=" text-2xl font-bold tracking-tight text-gray-900">Popular Clubs</h2>

    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
    
    {% for club in clubs %}
      <a href="{% url 'club_products' club.id %}" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="{{ club.thumbnail.url }}" alt="{{ club.name }}" class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700 ">{{ club.name }}</h3>
        
      </a>
    {% endfor %}
      <!-- More products... -->
    </div>
  </div>
</div>
 
 
<div class="bg-white">

  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class=" text-2xl font-bold tracking-tight text-gray-900">Nations</h2>

    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
    
    {% for product, image_url in product_images.items %}
      <a href="{% url 'country_products' country_id=product.country_id.id  %}" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="{{ image_url }}" alt="{{ product.name }}" class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700 ">{{ product.name }}</h3>
        
      </a>
    {% endfor %}
      <!-- More products... -->
    </div>
  </div>
</div>
{% comment %} {% for product, image_url in product_images.items %}
    <div class="product">
        <h2>{{ product.name }}</h2>
        <img src="{{ image_url }}" alt="{{ product.name }} Image">
    </div>
{% endfor %}

  {% endcomment %}


{% endblock %}
